<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="medidasForm" (submit)="calcular()" class="ion-margin">

    <ion-input label="Valor" label-placement="floating" fill="outline" placeholder="Ingresar valor a convertir"
      mode="md" clearInput="true" maxlength="10" type="number" inputmode="tel"
      formControlName="valorMedida"></ion-input>

    <ion-radio-group formControlName="valorOrigen">
      <ion-list>
        <ion-list-header>
          <ion-label>Medida Destino</ion-label>
        </ion-list-header>

        @for (temperatura of listaMedidas; track temperatura.valor){
        <ion-item>
          <ion-label>{{ temperatura.medida }}</ion-label>
          <ion-checkbox slot="start" [checked]="temperatura.seleccionado" (ionChange)="onCheckboxChangeOrigen(temperatura, $event)"
            [value]="temperatura.valor"></ion-checkbox>
        </ion-item>
        }
      </ion-list>
    </ion-radio-group>

    <ion-button style="margin-top: 25px;" mode="ios" type="submit" expand="block" 
      [disabled]="medidasForm.invalid">
      <ion-icon name="calculator-outline"></ion-icon>
      Calcular
    </ion-button>


  </form>
</ion-content>