<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Medidas de Peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <form [formGroup]="medidasForm" (submit)="calcular()" class="ion-margin">

    <div>
      <ion-input label="Convertir" label-placement="floating" fill="outline" placeholder="Ingresar valor a convertir"
        mode="md" style="margin-bottom: 10px;" clearInput="true" maxlength="10" type="number" inputmode="tel"
        formControlName="valorMedida"></ion-input>

      <ion-input label="Resultado" label-placement="floating" fill="outline" [value]="valorResultado" mode="md"
        type="tel" inputmode="tel" readonly="true"></ion-input>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>Medida Origen</ion-label>
      </ion-list-header>
      <ion-radio-group formControlName="opcionSeleccionadaOrigen">
        @for (peso of listaMedidas; track peso.valorEnKilos) {
        <ion-item>
          <ion-radio [value]="peso.valorEnKilos">{{peso.medida}}</ion-radio>
        </ion-item>
        }
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Medida Destino</ion-label>
      </ion-list-header>
      <ion-radio-group formControlName="opcionSeleccionadaDestino">
        @for (peso of listaMedidas; track peso.valorEnKilos) {
        <ion-item>
          <ion-radio [value]="peso.valorEnKilos">{{peso.medida}}</ion-radio>
        </ion-item>
        }
      </ion-radio-group>
    </ion-list>

    <ion-button style="margin-top: 25px;" mode="ios" type="submit" expand="block" [disabled]="medidasForm.invalid">
      <ion-icon name="calculator-outline"></ion-icon>
      Calcular
    </ion-button>

    <ion-button style="margin-top: 20px;" fill="outline" expand="block" mode="ios" color="tertiary"
      (click)="limpiarValores()">
      <ion-icon slot="start" name="trash-bin-outline"></ion-icon>
      Limpiar
    </ion-button>


  </form>

</ion-content>