<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div align="center">
    <ion-img src="assets/icon/icono.svg" style="width: 60vw;margin-top: 60px;margin-bottom: 20px;"></ion-img>
  </div>

  <div id="container" class="ion-margin">

    <ion-button expand="block" routerLink="/distancia">Distancia</ion-button>
    <ion-button expand="block" routerLink="/peso">Peso</ion-button>
    <ion-button expand="block" routerLink="/temperatura">Temperatura</ion-button>
  </div>
</ion-content>